.header {
    display: flex;

    justify-content: space-between;
    align-items: baseline;
    background: #fff;
    color: #333;
   
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header a {
    color: #333;
    margin-right: 20px;
  }
  
  .header a:hover {
    color: #000;
  }
  .header ul {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    
  }

  .header li {
    margin-left: 20px;
  }
  
  .logo {
    color: #ABC038;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .logo a {
    color: #ABC038;
  }
  .userName {
    font-size: large;
    font-weight: bold;
    color: #000;
  }

  
  @media (max-width: 840px) {
    .header {
      flex-direction: column;
      height: auto;
      align-items: center;
    }
  
    .header ul {

      flex-direction: column;
      text-align: center;
      padding: 5px;
      gap: 5px;
    }

    .header li {
      margin-left: 0;
    }
  
    .header a {
      margin-right: 0;
    }
  
    .logo {
      margin: 20px 0;
    }
  }
  