.deleteButton {
    border: none;
    color: red;
    background: none;
    font-size: 16px;

}
.itemBlock {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    gap: 10px;
}

.buttonBlock {
    display: flex;
    flex-direction: column;
}

.statusCheck {
    border: none;
    background: none;
    height: 20px !important;


}

.itemsBlock {
   background-color: #CCC;
   padding: 10px 10px 5px 10px;
   border: 1px solid grey;
   border-radius: 3px;
   margin-bottom: 30px;
}